* {
  font-family: "Trebuchet MS";
}

div.opening{
  background-image: url("../data/welcomebackground.jpg");
  min-width: 420px;
  width: 40%;
  text-align: center;
  padding-bottom: 16px;
  margin: 100px auto;
  border: 5px solid black;
}

#welcome{
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

a{
  text-decoration: inherit;
  color: inherit;
}

button[name=startButton]{
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  background-color: white;
  color: black;
  border: none;
}

button[name=startButton]:hover{
  text-decoration: underline;
  background-color: black;
  color: white;
  transition: 0.3s;
}
